{% extends 'base.html' %} {% block content %}

<style>

  img {
    display: block;
    margin: auto;
  }

</style>

<h2>{{ tincture.name }}</h2>

<div class="card col s3" class="valign-wrapper">
  <div class="card-content">
    <img class="responsive-img" src="{{ tincture.image }}" alt="{{ tincture.name }}">
    <p>Solvent: {{ tincture.solvent }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'tinctures_update' tincture.id %}">Edit</a>
    <a href="{% url 'tinctures_delete' tincture.id %}">Delete</a>
  </div> 
</div>

<div class="row">
  <div class="col s3">
    <h3>{{ tincture.name }} Herbs</h3>
    {% if tincture.herbs.count %} {% for herb in tincture.herbs.all %}
    <div class="card hoverable">
      <a href="{% url 'herbs_detail' herb.id %}">
      <div class="card-content">
        <span class="card-title">
          {{ herb.get_state_display }} {{ herb.name }}
        </span>
      </div>
      </a>
    </div>
    {% endfor %}
    {% endif %}
</div>

<br/>

<div>
<table class="striped">
  <thead>
    <tr>
      <th>Batches</th>
    </tr>
  </thead>
  <tbody>
    {% for batch in tincture.batch_set.all %}
      <tr>
        <td><strong>Prepped:</strong> {{ batch.prep_date }}</td>
        <td><strong>Ready:</strong> {{ batch.ready_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<form action="{% url 'add_batch' tincture.id %}" method="POST">
  {% csrf_token %} {{ batch_form.as_p }}
  <input type="submit" class="btn" value="Add Batch" />
</form>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}
