{% extends 'base.html' %} {% block content %}

<h1>{{ tincture.name }}</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ tincture.name }}</span>
    <p>Solvent: {{ tincture.solvent }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'tinctures_update' tincture.id %}">Edit</a>
    <a href="{% url 'tinctures_delete' tincture.id %}">Delete</a>
  </div> 
</div>

<div class="col s6">
  <table class="striped">
    <thead>
      <tr>
        <th>Batches</th>
      </tr>
    </thead>
    <tbody>
      {% for batch in tincture.batch_set.all %}
      <tr>
        <td><strong>Prepped:</strong> {{ batch.prep_date }}</td>
        <td><strong>Ready:</strong> {{ batch.ready_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{% url 'add_batch' tincture.id %}" method="POST">
    {% csrf_token %} {{ batch_form.as_p }}
    <input type="submit" class="btn" value="Add Batch" />
  </form>
</div>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}
