{% extends 'base.html' %} {% block content %}

    <h3>About Herbs & Amber</h3>
    <hr />
    <div class="row">
    <p class="col s6">
        <span class="flow-text">
        Welcome to Herbs & Amber, a haven for those who want to explore the ancient art of tincture-making in the context of modern holistic wellness. Our website is a sanctuary for those seeking to nurture their mind, body, and spirit through the natural healing power of herbs. Discover how to craft botanical treasures to fill your amber vessels and relish the sense of calm and balance you find on your tincture-making journey.
        </span>
    </p>
    <img class="col s6" src="https://i.postimg.cc/8kMrSTh6/2777-E9-D0-115-E-472-A-B20-F-40-A7-D3-B7-FDB7.jpg" alt="Herbologist">
    </div>
    <blockquote style="border-left: 5px solid #a5d6a7">
        <strong>DISCLAIMER:</strong> The content provided on Herbs & Amber is intended for informational purposes only. It is not a substitute for professional medical advice, diagnosis, or treatment. While we strive to offer accurate and up-to-date information, we recommend consulting with a qualified healthcare professional before using any herbal remedies or tinctures. Take care to research and understand the properties of each herb before use, and remember that individual experiences may vary.
        </blockquote>
    <hr />
    <p>Get in Touch!</p>

{% endblock %}