{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Herbs & Amber</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
      });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, options);
      });
    </script>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper #d1c4e9 deep-purple lighten-3">
          <ul>
            <li>
              <a href="/" class="left brand-logo">&nbsp;&nbsp;Herbs & Amber</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'supplies' %}">Supplies</a></li>
            <li><a href="{% url 'methods' %}">Methods</a></li>
            <li><a href="{% url 'herbs_index' %}">Herbs</a></li>
            <li><a href="{% url 'index' %}">Tinctures</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large green lighten-3">
        <i class="large material-icons">&</i>
      </a>
      <ul>
        <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
      </ul>
    </div>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer #d1c4e9 deep-purple lighten-3">
      <div class="center">
        All Rights Reserved, &copy; 2024 Herbs & Amber &nbsp;
      </div>
    </footer>
  </body>
</html>
