<style>

  body {
    background-image: url('https://i.postimg.cc/250nqNK4/1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  button {
    border-color: #a0b666;
    background-color: #f6f1e1;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
  }

  a {
    text-decoration: none;
    font-size: xx-large;
    color: #a0b666;
  }

  img {
    display: block;
    margin: auto;
  }

</style>

<div>
  <button>
    <a href="{% url 'about' %}"><strong>ENTER</strong></a>
  </button>
</div>
<img src="https://i.postimg.cc/fLkmmqG1/2.png" alt="Herb Cupboard"/>