{% extends 'base.html' %} {% block content %}

<h3>Methods</h3>
<hr />
<container class="row">
    <div class="col s4">
        <h4>Folk</h4>
            <ol>
                <li>Step One:</li>
            </ol>
    </div>
    <div class="col s4">
        <h4>Ratio</h4>
            <ol>
                <li>Step One:</li>
            </ol>
    </div>
    <div class="col s4">
        <h4>Percolation</h4>
            <ol>
                <li>Step One:</li>
            </ol>
    </div>
</container>
<hr />
<p>
    “You are not Atlas carrying the world on your shoulder. It is good to remember that the planet is carrying you.”
    <br/>
    — Vandana Shiva
</p>

{% endblock %}