{% extends 'base.html' %} {% block content %}

<h3>Supplies</h3>
<hr />
    <container class="row">
        <div class="col s6">
            <h4>Required</h4>
                <ul>
                    <li>Spring Water</li>
                    <li>Sterilized Glass Canning Jars</li>
                    <li>Glass Bottles (Ideally Amber)</li>
                    <li>Bottle Labels</li>
                    <li>Fine Mesh Sieve</li>
                    <li>Cheesecloth</li>
                    <li></li>
                </ul>
        </div>
        <div class="col s6">
            <h4>Optional</h4>
                <ul>
                    <li>Blender</li>
                    <li>Crock Pot</li>
                    <li>Thermometer</li>
                    <li>Percolation Kit</li>
                </ul>
        </div>
    </container>
    <hr />
    <p>Get in Touch!</p>

{% endblock %}